/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background: #f4f6f5;
  color: #333;
  line-height: 1.6;
}
/* HEADER */
.site-header {
  background: #f2f2f2;
  padding: 15px;
  border-bottom: 2px solid #ccc;
  overflow: hidden; /* para contener los floats */
}
/* Logo + título alineados a la izquierda */
.header-left {
  float: left;
}
.header-left img {
  width: 80px;
  vertical-align: middle;
}
.header-left h1 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 1.8rem;
}
/* Menú alineado a la derecha */
.menu-right {
  float: right;
  margin-top: 20px;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu li {
  display: inline-block;
  margin-left: 8px;
}
.menu a {
  display: inline-block;
  padding: 10px 15px;
  background: #388e3c;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.menu a:hover {
  background: #66bb6a;
}
/* MAIN */
main {
  width: 90%;
  margin: 20px auto;
}
section {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}
section h2 {
  text-align: center;
  color: #2e7d32;
  margin-bottom: 15px;
}
/* TABLA */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}
table th,
table td {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
}
table th {
  background-color: #c8e6c9;
}
/* FORMULARIO */
input,
select,
textarea {
  width: 90%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #888;
}
input[type="submit"],
input[type="reset"] {
  width: auto;
  padding: 8px 15px;
  margin-right: 10px;
  background: #388e3c;
  color: white;
  border: none;
  cursor: pointer;
}
input[type="submit"]:hover,
input[type="reset"]:hover {
  background: #66bb6a;
}
/* FOOTER */
.site-footer {
  background: #940d0d;
  color: white;
  padding: 20px;
  text-align: center;
}
.site-footer a {
  color: #c8e6c9;
  text-decoration: underline;
}
.social img {
  width: 28px;
  margin: 5px;
}
/* BLOQUES DEL FOOTER*/
.footer-box {
  display: inline-block;
  width: 250px;
  margin: 10px;
  vertical-align: top;
  text-align: left;
}
/* TÍTULOS DEL FOOTER*/
.footer-box h4 {
  margin-bottom: 10px;
  color: #c8e6c9;
}
/* ICONOS SOCIALES*/
.social {
  margin-top: 10px;
  text-align: left;
}
.social img {
  width: 28px;
  margin-right: 10px;
  vertical-align: middle;
}
/* LÍNEA FINAL DEL FOOTER*/
.footer-bottom {
  margin-top: 20px;
  font-size: 0.9rem;
  opacity: 0.8;
}
/*PARA MOVER TEXTO CONTACTO SIN LA TABLA*/
.contacto-datos h2,
.contacto-datos p,
.contacto-datos ul,
.contacto-datos ol,
.contacto-datos h3 {
  margin-left: 25px;
}
